{
  "openapi": "3.1.0",
  "info": {
    "title": "ARAKEL Machine Evidence Network",
    "version": "0.10.2",
    "contact": {
      "url": "https://proof.arakelproof.space",
      "email": "maxxxil@mail.ru"
    },
    "description": "Machine evidence with free preflight, $0.005 quick checks, NOT_OBSERVED proofs, batch checks, and counterparty dossiers across enabled official sources.",
    "x-guidance": "For crypto wallet sanctions screening, first use the free /v1/machine/lookup-quote endpoint with type=ofac-wallet and q set to the destination wallet address; if payment_recommended is true, call /v1/ofac-wallet-screen for $0.005. For simple OFAC, FDA, USAspending federal-award, or Federal Register lookups, first use the free /v1/machine/lookup-quote endpoint with type and q. If payment_recommended is true, call the returned lookup_path; these buyer-intent lookups normally cost $0.005 via x402. Use /v1/machine/quote for advanced source-specific checks, signed proofs, NOT_OBSERVED proofs, change detection, or bundles. Never pay when a free preflight returns payment_recommended=false or predicts INCONCLUSIVE."
  },
  "servers": [
    {
      "url": "https://proof.arakelproof.space"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "security": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/coverage": {
      "get": {
        "security": [],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Free interval observation coverage status"
          }
        }
      }
    },
    "/v1/coverage-status": {
      "get": {
        "security": [],
        "responses": {
          "200": {
            "description": "Persistent autonomous coverage continuity and failure statistics"
          }
        }
      }
    },
    "/v1/quote": {
      "get": {
        "security": [],
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "product",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pulse",
                "certificate",
                "evidence-bundle",
                "signal-feed"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Free payment recommendation and exact price"
          }
        }
      }
    },
    "/v1/certificate": {
      "get": {
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.05"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "required": true,
            "example": "Department",
            "schema": {
              "type": "string",
              "default": "Department",
              "example": "Department"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "example": "2026-09-02T14:00:00Z",
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": "2026-09-02T14:00:00Z",
              "example": "2026-09-02T14:00:00Z"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "example": "2026-09-03T14:00:00Z",
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": "2026-09-03T14:00:00Z",
              "example": "2026-09-03T14:00:00Z"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signed interval proof"
          },
          "402": {
            "description": "Payment Required"
          },
          "409": {
            "description": "Free preflight says payment is not recommended"
          }
        }
      }
    },
    "/v1/evidence-bundle": {
      "get": {
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.25"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "required": true,
            "example": "Department",
            "schema": {
              "type": "string",
              "default": "Department",
              "example": "Department"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "example": "2026-09-02T14:00:00Z",
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": "2026-09-02T14:00:00Z",
              "example": "2026-09-02T14:00:00Z"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "example": "2026-09-03T14:00:00Z",
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": "2026-09-03T14:00:00Z",
              "example": "2026-09-03T14:00:00Z"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signed evidence bundle"
          },
          "402": {
            "description": "Payment Required"
          },
          "409": {
            "description": "Payment not recommended"
          }
        }
      }
    },
    "/v1/machine/catalog": {
      "get": {
        "security": [],
        "responses": {
          "200": {
            "description": "Machine sales product catalog"
          }
        }
      }
    },
    "/v1/machine/sources": {
      "get": {
        "security": [],
        "responses": {
          "200": {
            "description": "Official source adapter status"
          }
        }
      }
    },
    "/v1/machine/sales-telemetry": {
      "get": {
        "security": [],
        "responses": {
          "200": {
            "description": "Aggregate commercial funnel telemetry"
          }
        }
      }
    },
    "/v1/machine/quote": {
      "get": {
        "security": [],
        "responses": {
          "200": {
            "description": "Free multi-source payment recommendation"
          }
        }
      }
    },
    "/v1/machine/lookup-quote": {
      "get": {
        "security": [],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ofac-sanctions",
                "ofac-wallet",
                "fda-drug",
                "fda-food",
                "fda-device",
                "federal-award",
                "federal-register"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search name or term"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Free buyer-intent lookup preflight"
          }
        }
      }
    },
    "/v1/machine/counterparty-quote": {
      "get": {
        "security": [],
        "responses": {
          "200": {
            "description": "Free counterparty dossier preflight"
          }
        }
      }
    },
    "/v1/machine/counterparty-check-quote": {
      "get": {
        "security": [],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search name or term"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Free compact counterparty government-check preflight"
          }
        }
      }
    },
    "/v1/machine/batch-quote": {
      "post": {
        "security": [],
        "responses": {
          "200": {
            "description": "Free preflight for 2-10 batch quick checks"
          }
        }
      }
    },
    "/v1/machine/quick-check": {
      "get": {
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "required": true,
            "example": "ofac",
            "schema": {
              "type": "string",
              "enum": [
                "ofac"
              ],
              "default": "ofac",
              "example": "ofac"
            }
          },
          {
            "name": "entity",
            "in": "query",
            "required": true,
            "example": "0xcB74874f1e06Fcf80A306e06e5379A44B488bA2D",
            "schema": {
              "type": "string",
              "default": "0xcB74874f1e06Fcf80A306e06e5379A44B488bA2D",
              "example": "0xcB74874f1e06Fcf80A306e06e5379A44B488bA2D"
            }
          },
          {
            "name": "event_type",
            "in": "query",
            "required": true,
            "example": "listing_present",
            "schema": {
              "type": "string",
              "default": "listing_present",
              "example": "listing_present"
            }
          },
          {
            "name": "term",
            "in": "query",
            "required": false,
            "example": "",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "example": "2026-09-04T12:13:58.567Z",
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": "2026-09-04T12:13:58.567Z",
              "example": "2026-09-04T12:13:58.567Z"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "example": "2026-09-05T12:13:58.567Z",
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": "2026-09-05T12:13:58.567Z",
              "example": "2026-09-05T12:13:58.567Z"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signed concise official-source verdict"
          },
          "402": {
            "description": "Payment Required"
          },
          "409": {
            "description": "Payment not recommended"
          }
        }
      }
    },
    "/v1/ofac-sanctions-screening": {
      "get": {
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "operationId": "ofacSanctionsScreening",
        "summary": "OFAC sanctions screening",
        "description": "Search the official OFAC sanctions list for a person, company, organization, vessel, or other name. Returns matching official records and a signed ARAKEL verdict.",
        "tags": [
          "government-data",
          "sanctions",
          "compliance"
        ],
        "x-price": "$0.005",
        "x-x402-price": "$0.005",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search name or term"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OFAC sanctions screening with matching official records"
          },
          "402": {
            "description": "Payment Required"
          },
          "409": {
            "description": "Payment not recommended"
          }
        }
      }
    },
    "/v1/ofac-wallet-screen": {
      "get": {
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "operationId": "ofacWalletSanctionsScreen",
        "summary": "OFAC wallet sanctions screen",
        "description": "Screen a destination crypto wallet address against official U.S. Treasury OFAC sanctions data before sending funds. Returns matching official records and a signed ARAKEL verdict.",
        "tags": [
          "crypto",
          "wallet",
          "sanctions",
          "compliance",
          "ofac"
        ],
        "x-price": "$0.005",
        "x-x402-price": "$0.005",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "example": "0xcB74874f1e06Fcf80A306e06e5379A44B488bA2D",
            "description": "Destination crypto wallet address to screen against official OFAC sanctions data",
            "schema": {
              "type": "string",
              "default": "0xcB74874f1e06Fcf80A306e06e5379A44B488bA2D",
              "example": "0xcB74874f1e06Fcf80A306e06e5379A44B488bA2D"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OFAC wallet sanctions screening with matching official records"
          },
          "402": {
            "description": "Payment Required"
          },
          "409": {
            "description": "Payment not recommended"
          }
        }
      }
    },
    "/v1/fda-drug-recalls": {
      "get": {
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "operationId": "fdaDrugRecalls",
        "summary": "FDA drug recalls",
        "description": "Search official FDA drug recall and enforcement records by drug, brand, firm, ingredient, or product term. Returns matching records plus a signed ARAKEL verdict.",
        "tags": [
          "government-data",
          "fda",
          "recalls"
        ],
        "x-price": "$0.005",
        "x-x402-price": "$0.005",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search name or term"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "FDA drug recall lookup"
          },
          "402": {
            "description": "Payment Required"
          },
          "409": {
            "description": "Payment not recommended"
          }
        }
      }
    },
    "/v1/fda-food-recalls": {
      "get": {
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "operationId": "fdaFoodRecalls",
        "summary": "FDA food recalls",
        "description": "Search official FDA food recall and enforcement records by product, brand, firm, ingredient, allergen, or reason. Returns matching records plus a signed ARAKEL verdict.",
        "tags": [
          "government-data",
          "fda",
          "recalls"
        ],
        "x-price": "$0.005",
        "x-x402-price": "$0.005",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search name or term"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "FDA food recall lookup"
          },
          "402": {
            "description": "Payment Required"
          },
          "409": {
            "description": "Payment not recommended"
          }
        }
      }
    },
    "/v1/fda-device-recalls": {
      "get": {
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "operationId": "fdaMedicalDeviceRecalls",
        "summary": "FDA medical device recalls",
        "description": "Search official FDA medical-device recall and enforcement records by device, manufacturer, brand, or product term. Returns matching records plus a signed ARAKEL verdict.",
        "tags": [
          "government-data",
          "fda",
          "recalls"
        ],
        "x-price": "$0.005",
        "x-x402-price": "$0.005",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search name or term"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "FDA medical device recall lookup"
          },
          "402": {
            "description": "Payment Required"
          },
          "409": {
            "description": "Payment not recommended"
          }
        }
      }
    },
    "/v1/federal-award-search": {
      "get": {
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "operationId": "usFederalAwardsSearch",
        "summary": "US federal awards search (USAspending)",
        "description": "Search official USAspending federal award records by recipient, organization, award, contract, or grant term. Returns matching records plus a signed ARAKEL verdict.",
        "tags": [
          "government-data",
          "usaspending",
          "federal-awards"
        ],
        "x-price": "$0.005",
        "x-x402-price": "$0.005",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "example": "Boeing",
            "schema": {
              "type": "string",
              "default": "Boeing",
              "example": "Boeing"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "USAspending federal award search"
          },
          "402": {
            "description": "Payment Required"
          },
          "409": {
            "description": "Payment not recommended"
          }
        }
      }
    },
    "/v1/federal-register-search": {
      "get": {
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "operationId": "federalRegisterSearch",
        "summary": "Federal Register search",
        "description": "Search official Federal Register publications by agency, entity, rule, notice, executive order, or topic. Returns matching publications plus a signed ARAKEL verdict and coverage metadata.",
        "tags": [
          "government-data",
          "federal-register",
          "regulatory"
        ],
        "x-price": "$0.005",
        "x-x402-price": "$0.005",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search name or term"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Federal Register search"
          },
          "402": {
            "description": "Payment Required"
          },
          "409": {
            "description": "Payment not recommended"
          }
        }
      }
    },
    "/v1/counterparty-government-check": {
      "get": {
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.03"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "operationId": "counterpartyGovernmentCheck",
        "summary": "Counterparty government check",
        "description": "Check one counterparty across OFAC sanctions, FDA recalls, USAspending federal awards, and Federal Register records. Returns one compact signed multi-source verdict.",
        "tags": [
          "government-data",
          "counterparty",
          "compliance"
        ],
        "x-price": "$0.03",
        "x-x402-price": "$0.03",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "example": "Boeing",
            "schema": {
              "type": "string",
              "default": "Boeing",
              "example": "Boeing"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "example": "2025-09-03T00:00:00Z",
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": "2025-09-03T00:00:00Z",
              "example": "2025-09-03T00:00:00Z"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "example": "2026-09-03T00:00:00Z",
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": "2026-09-03T00:00:00Z",
              "example": "2026-09-03T00:00:00Z"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Compact signed government counterparty check"
          },
          "402": {
            "description": "Payment Required"
          },
          "409": {
            "description": "Payment not recommended"
          }
        }
      }
    },
    "/v1/machine/check": {
      "get": {
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "required": true,
            "example": "usaspending",
            "schema": {
              "type": "string",
              "enum": [
                "federal-register",
                "sec",
                "ofac",
                "fda",
                "usaspending",
                "sam"
              ],
              "example": "usaspending"
            }
          },
          {
            "name": "entity",
            "in": "query",
            "required": true,
            "example": "Boeing",
            "schema": {
              "type": "string",
              "example": "Boeing"
            }
          },
          {
            "name": "event_type",
            "in": "query",
            "required": true,
            "example": "award",
            "schema": {
              "type": "string",
              "example": "award"
            }
          },
          {
            "name": "term",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "example": "2025-09-03T00:00:00Z",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2025-09-03T00:00:00Z"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "example": "2026-09-03T00:00:00Z",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2026-09-03T00:00:00Z"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signed verified official-source check"
          },
          "402": {
            "description": "Payment Required"
          },
          "409": {
            "description": "Payment not recommended"
          }
        }
      }
    },
    "/v1/machine/prove-not-observed": {
      "get": {
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.03"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "required": true,
            "example": "ofac",
            "schema": {
              "type": "string",
              "enum": [
                "federal-register",
                "sec",
                "ofac",
                "fda",
                "usaspending",
                "sam"
              ],
              "example": "ofac"
            }
          },
          {
            "name": "entity",
            "in": "query",
            "required": true,
            "example": "ARAKEL-X402SCAN-NONMATCH-9F7C2A",
            "schema": {
              "type": "string",
              "example": "ARAKEL-X402SCAN-NONMATCH-9F7C2A"
            }
          },
          {
            "name": "event_type",
            "in": "query",
            "required": true,
            "example": "listing_present",
            "schema": {
              "type": "string",
              "example": "listing_present"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "example": "2026-09-03T12:00:00Z",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2026-09-03T12:00:00Z"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "example": "2026-09-03T13:00:00Z",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2026-09-03T13:00:00Z"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signed NOT_OBSERVED proof"
          },
          "402": {
            "description": "Payment Required"
          },
          "409": {
            "description": "NOT_OBSERVED is not currently provable"
          }
        }
      }
    },
    "/v1/machine/prove": {
      "get": {
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.05"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "required": true,
            "example": "usaspending",
            "schema": {
              "type": "string",
              "enum": [
                "federal-register",
                "sec",
                "ofac",
                "fda",
                "usaspending",
                "sam"
              ],
              "example": "usaspending"
            }
          },
          {
            "name": "entity",
            "in": "query",
            "required": true,
            "example": "Boeing",
            "schema": {
              "type": "string",
              "example": "Boeing"
            }
          },
          {
            "name": "event_type",
            "in": "query",
            "required": true,
            "example": "award",
            "schema": {
              "type": "string",
              "example": "award"
            }
          },
          {
            "name": "term",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "example": "2025-09-03T00:00:00Z",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2025-09-03T00:00:00Z"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "example": "2026-09-03T00:00:00Z",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2026-09-03T00:00:00Z"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signed multi-source proof"
          },
          "402": {
            "description": "Payment Required"
          },
          "409": {
            "description": "Payment not recommended"
          }
        }
      }
    },
    "/v1/machine/counterparty-evidence": {
      "get": {
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.10"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "entity",
            "in": "query",
            "required": true,
            "example": "Boeing",
            "schema": {
              "type": "string",
              "default": "Boeing",
              "example": "Boeing"
            }
          },
          {
            "name": "term",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "example": "2025-09-03T00:00:00Z",
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": "2025-09-03T00:00:00Z",
              "example": "2025-09-03T00:00:00Z"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "example": "2026-09-03T00:00:00Z",
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": "2026-09-03T00:00:00Z",
              "example": "2026-09-03T00:00:00Z"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signed multi-source counterparty dossier"
          },
          "402": {
            "description": "Payment Required"
          },
          "409": {
            "description": "Payment not recommended"
          }
        }
      }
    },
    "/v1/machine/batch-quick-check": {
      "post": {
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.025"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array",
                    "minItems": 2,
                    "maxItems": 10,
                    "items": {
                      "type": "object",
                      "properties": {
                        "source": {
                          "type": "string",
                          "default": "ofac",
                          "example": "ofac"
                        },
                        "entity": {
                          "type": "string",
                          "default": "ARAKEL-X402SCAN-NONMATCH-9F7C2A",
                          "example": "ARAKEL-X402SCAN-NONMATCH-9F7C2A"
                        },
                        "event_type": {
                          "type": "string",
                          "default": "listing_present",
                          "example": "listing_present"
                        },
                        "term": {
                          "type": "string",
                          "default": ""
                        },
                        "from": {
                          "type": "string",
                          "format": "date-time",
                          "default": "2026-09-03T12:00:00Z",
                          "example": "2026-09-03T12:00:00Z"
                        },
                        "to": {
                          "type": "string",
                          "format": "date-time",
                          "default": "2026-09-03T13:00:00Z",
                          "example": "2026-09-03T13:00:00Z"
                        }
                      },
                      "required": [
                        "source",
                        "entity",
                        "event_type",
                        "from",
                        "to"
                      ]
                    }
                  }
                },
                "required": [
                  "items"
                ],
                "default": {
                  "items": [
                    {
                      "source": "ofac",
                      "entity": "ARAKEL-X402SCAN-NONMATCH-9F7C2A",
                      "event_type": "listing_present",
                      "from": "2026-09-03T12:00:00Z",
                      "to": "2026-09-03T13:00:00Z"
                    },
                    {
                      "source": "ofac",
                      "entity": "ARAKEL-X402SCAN-NONMATCH-9F7C2A",
                      "event_type": "listing_present",
                      "from": "2026-09-03T12:00:00Z",
                      "to": "2026-09-03T13:00:00Z"
                    }
                  ]
                },
                "example": {
                  "items": [
                    {
                      "source": "ofac",
                      "entity": "ARAKEL-X402SCAN-NONMATCH-9F7C2A",
                      "event_type": "listing_present",
                      "from": "2026-09-03T12:00:00Z",
                      "to": "2026-09-03T13:00:00Z"
                    },
                    {
                      "source": "ofac",
                      "entity": "ARAKEL-X402SCAN-NONMATCH-9F7C2A",
                      "event_type": "listing_present",
                      "from": "2026-09-03T12:00:00Z",
                      "to": "2026-09-03T13:00:00Z"
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signed 2-10 item quick-check batch"
          },
          "402": {
            "description": "Payment Required"
          },
          "409": {
            "description": "One or more items are inconclusive"
          }
        }
      }
    }
  }
}