openapi: 3.2.0
info:
  title: ARAKEL Machine Evidence Network Government Data API
  version: 0.10.2
  contact:
    url: https://proof.arakelproof.space
    email: maxxxil@mail.ru
  description: Machine evidence with free preflight, $0.005 quick checks, NOT_OBSERVED proofs, batch checks, and counterparty dossiers across enabled official sources.
  x-guidance: For crypto wallet sanctions screening, first use the free /v1/machine/lookup-quote endpoint with type=ofac-wallet and q set to the destination wallet address; if payment_recommended is true, call /v1/ofac-wallet-screen for $0.005. For simple OFAC, FDA, USAspending federal-award, or Federal Register lookups, first use the free /v1/machine/lookup-quote endpoint with type and q. If payment_recommended is true, call the returned lookup_path; these buyer-intent lookups normally cost $0.005 via x402. Use /v1/machine/quote for advanced source-specific checks, signed proofs, NOT_OBSERVED proofs, change detection, or bundles. Never pay when a free preflight returns payment_recommended=false or predicts INCONCLUSIVE.
servers:
- url: https://proof.arakelproof.space
tags:
- name: government-data
paths:
  /v1/ofac-sanctions-screening:
    get:
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.005'
        protocols:
        - x402: {}
      operationId: ofacSanctionsScreening
      summary: OFAC sanctions screening
      description: Search the official OFAC sanctions list for a person, company, organization, vessel, or other name. Returns matching official records and a signed ARAKEL verdict.
      tags:
      - government-data
      x-price: $0.005
      x-x402-price: $0.005
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
        description: Search name or term
      - name: from
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OFAC sanctions screening with matching official records
        '402':
          description: Payment Required
        '409':
          description: Payment not recommended
  /v1/fda-drug-recalls:
    get:
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.005'
        protocols:
        - x402: {}
      operationId: fdaDrugRecalls
      summary: FDA drug recalls
      description: Search official FDA drug recall and enforcement records by drug, brand, firm, ingredient, or product term. Returns matching records plus a signed ARAKEL verdict.
      tags:
      - government-data
      x-price: $0.005
      x-x402-price: $0.005
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
        description: Search name or term
      - name: from
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: FDA drug recall lookup
        '402':
          description: Payment Required
        '409':
          description: Payment not recommended
  /v1/fda-food-recalls:
    get:
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.005'
        protocols:
        - x402: {}
      operationId: fdaFoodRecalls
      summary: FDA food recalls
      description: Search official FDA food recall and enforcement records by product, brand, firm, ingredient, allergen, or reason. Returns matching records plus a signed ARAKEL verdict.
      tags:
      - government-data
      x-price: $0.005
      x-x402-price: $0.005
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
        description: Search name or term
      - name: from
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: FDA food recall lookup
        '402':
          description: Payment Required
        '409':
          description: Payment not recommended
  /v1/fda-device-recalls:
    get:
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.005'
        protocols:
        - x402: {}
      operationId: fdaMedicalDeviceRecalls
      summary: FDA medical device recalls
      description: Search official FDA medical-device recall and enforcement records by device, manufacturer, brand, or product term. Returns matching records plus a signed ARAKEL verdict.
      tags:
      - government-data
      x-price: $0.005
      x-x402-price: $0.005
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
        description: Search name or term
      - name: from
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: FDA medical device recall lookup
        '402':
          description: Payment Required
        '409':
          description: Payment not recommended
  /v1/federal-award-search:
    get:
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.005'
        protocols:
        - x402: {}
      operationId: usFederalAwardsSearch
      summary: US federal awards search (USAspending)
      description: Search official USAspending federal award records by recipient, organization, award, contract, or grant term. Returns matching records plus a signed ARAKEL verdict.
      tags:
      - government-data
      x-price: $0.005
      x-x402-price: $0.005
      parameters:
      - name: q
        in: query
        required: true
        example: Boeing
        schema:
          type: string
          default: Boeing
          example: Boeing
      responses:
        '200':
          description: USAspending federal award search
        '402':
          description: Payment Required
        '409':
          description: Payment not recommended
  /v1/federal-register-search:
    get:
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.005'
        protocols:
        - x402: {}
      operationId: federalRegisterSearch
      summary: Federal Register search
      description: Search official Federal Register publications by agency, entity, rule, notice, executive order, or topic. Returns matching publications plus a signed ARAKEL verdict and coverage metadata.
      tags:
      - government-data
      x-price: $0.005
      x-x402-price: $0.005
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
        description: Search name or term
      - name: from
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Federal Register search
        '402':
          description: Payment Required
        '409':
          description: Payment not recommended
  /v1/counterparty-government-check:
    get:
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.03'
        protocols:
        - x402: {}
      operationId: counterpartyGovernmentCheck
      summary: Counterparty government check
      description: Check one counterparty across OFAC sanctions, FDA recalls, USAspending federal awards, and Federal Register records. Returns one compact signed multi-source verdict.
      tags:
      - government-data
      x-price: $0.03
      x-x402-price: $0.03
      parameters:
      - name: q
        in: query
        required: true
        example: Boeing
        schema:
          type: string
          default: Boeing
          example: Boeing
      - name: from
        in: query
        required: false
        example: '2025-09-03T00:00:00Z'
        schema:
          type: string
          format: date-time
          default: '2025-09-03T00:00:00Z'
          example: '2025-09-03T00:00:00Z'
      - name: to
        in: query
        required: false
        example: '2026-09-03T00:00:00Z'
        schema:
          type: string
          format: date-time
          default: '2026-09-03T00:00:00Z'
          example: '2026-09-03T00:00:00Z'
      responses:
        '200':
          description: Compact signed government counterparty check
        '402':
          description: Payment Required
        '409':
          description: Payment not recommended
