openapi: 3.2.0
info:
  title: ARAKEL Machine Evidence Network Certificate API
  version: 0.10.2
  contact:
    url: https://proof.arakelproof.space
    email: maxxxil@mail.ru
  description: Machine evidence with free preflight, $0.005 quick checks, NOT_OBSERVED proofs, batch checks, and counterparty dossiers across enabled official sources.
  x-guidance: For crypto wallet sanctions screening, first use the free /v1/machine/lookup-quote endpoint with type=ofac-wallet and q set to the destination wallet address; if payment_recommended is true, call /v1/ofac-wallet-screen for $0.005. For simple OFAC, FDA, USAspending federal-award, or Federal Register lookups, first use the free /v1/machine/lookup-quote endpoint with type and q. If payment_recommended is true, call the returned lookup_path; these buyer-intent lookups normally cost $0.005 via x402. Use /v1/machine/quote for advanced source-specific checks, signed proofs, NOT_OBSERVED proofs, change detection, or bundles. Never pay when a free preflight returns payment_recommended=false or predicts INCONCLUSIVE.
servers:
- url: https://proof.arakelproof.space
tags:
- name: Certificate
paths:
  /v1/certificate:
    get:
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.05'
        protocols:
        - x402: {}
      parameters:
      - name: term
        in: query
        required: true
        example: Department
        schema:
          type: string
          default: Department
          example: Department
      - name: from
        in: query
        required: true
        example: '2026-09-02T14:00:00Z'
        schema:
          type: string
          format: date-time
          default: '2026-09-02T14:00:00Z'
          example: '2026-09-02T14:00:00Z'
      - name: to
        in: query
        required: true
        example: '2026-09-03T14:00:00Z'
        schema:
          type: string
          format: date-time
          default: '2026-09-03T14:00:00Z'
          example: '2026-09-03T14:00:00Z'
      responses:
        '200':
          description: Signed interval proof
        '402':
          description: Payment Required
        '409':
          description: Free preflight says payment is not recommended
      tags:
      - Certificate
      summary: Get certificate
      x-summary-source: derived
      operationId: getV1Certificate
      x-operation-id-source: derived
